# Django
DJANGO_SECRET_KEY=
DEBUG=False

# Database
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=

# Email
EMAIL_HOST_PASSWORD=

# Celery / Flower
CELERY_FLOWER_PASSWORD=
